.header {
  background: #fff;
  border-bottom: 1px solid #d9fff5;

  &__content {
    height: 88px;
    display: flex;
    align-items: center;
    padding: 24px 16px;
  }
  &__control {
    display: none;
  }
  &__contact {
    margin-left: auto;
  }
  &__contact *:last-child {
    margin-left: 16px;
  }
  &__logo {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__content {
      padding: 24px;
    }
    &__control {
      display: block;
      margin-left: auto;
    }
    &__control * {
      margin-right: 16px;
    }
    &__control *:last-child {
      margin-right: 0;
    }
    &__contact {
      margin-left: 42px;
    }
    &__logo {
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: $xl) {
  .header {
    display: none;
  }
}
