.lang-select {
  display: flex;

  &__item {
    margin-right: 7px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__item input {
    display: none;
  }
  &__item--selected {
    color: $gray;
  }
}
